language: android
sudo: false
android:
  components:
    - build-tools-22.0.1
    - android-23
    - android-22
    - extra-google-m2repository
    - extra-android-m2repository
    - extra-google-google_play_services
    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository
    - sys-img-armeabi-v7a-android-22
before_install:
    - chmod +x gradlew
before_script:
- echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
- emulator -avd test -no-skin -no-audio -no-window &
- chmod u+x android-wait-for-emulator
- ./android-wait-for-emulator
- adb shell input keyevent 82 &

script:
  - ./gradlew test
  
