<manifest xmlns:android="http://schemas.android.com/apk/res/android"  package="com.popcorn.tv">
    <application
        android:label="@string/app_name"
        android:theme="@style/PopcornTVTheme"
        android:allowBackup="false">

        <!-- Activities -->
        <activity android:name=".activities.MainActivity"
            android:logo="@drawable/app_icon_quantum"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PlayerActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activities.DetailsActivity" />

    </application>

    <!-- Features -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>