<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="butter.droid"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        tools:replace="android:theme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Butter"
        android:name=".MobileButterApplication"
        android:supportsRtl="true">

		<activity
			android:name="butter.droid.activities.MainActivity"
			android:theme="@style/Theme.Butter.NavigationDrawer"
			android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.torrent"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.torrent"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.torrent"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern=".*\\.torrent"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="magnet" />
            </intent-filter>
        </activity>

		<activity
			android:name="butter.droid.activities.MediaDetailActivity"
			android:theme="@style/Theme.Butter.Detail"
			android:parentActivityName="butter.droid.activities.MainActivity">
			<!-- Parent activity meta-data to support 4.0 and lower -->
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="butter.droid.activities.MainActivity" />
		</activity>

        <activity
            android:name="butter.droid.activities.SearchActivity"
            android:theme="@style/Theme.Butter.Search" />

        <activity android:name="butter.droid.activities.TermsActivity" />

        <activity
            android:name="butter.droid.activities.AboutActivity"
            android:label="@string/about_app" />

        <activity
            android:name="butter.droid.activities.PreferencesActivity"
            android:parentActivityName="butter.droid.activities.MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="butter.droid.activities.MainActivity" />
        </activity>

		<activity
            android:launchMode="singleTask"
			android:name="butter.droid.activities.StreamLoadingActivity"
            android:theme="@style/Theme.Butter.Detail" />

		<activity
            android:launchMode="singleTask"
			android:name="butter.droid.activities.VideoPlayerActivity"
			android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="ftp"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="*/rmvb"/>
                <data android:mimeType="*/avi"/>
                <data android:mimeType="*/mkv"/>
                <data android:mimeType="application/3gpp*"/>
                <data android:mimeType="application/mp4"/>
                <data android:mimeType="application/mpeg*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/sdp"/>
                <data android:mimeType="application/vnd.3gp*"/>
                <data android:mimeType="application/vnd.apple.mpegurl"/>
                <data android:mimeType="application/vnd.dvd*"/>
                <data android:mimeType="application/vnd.dolby*"/>
                <data android:mimeType="application/vnd.rn-realmedia*"/>
                <data android:mimeType="application/x-iso9660-image"/>
                <data android:mimeType="application/x-extension-mp4"/>
                <data android:mimeType="application/x-flac"/>
                <data android:mimeType="application/x-matroska"/>
                <data android:mimeType="application/x-mpegURL"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/x-quicktimeplayer"/>
                <data android:mimeType="application/x-shockwave-flash"/>
                <data android:mimeType="application/xspf+xml"/>
                <data android:mimeType="misc/ultravox"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="ftp"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
                <!--  video  -->
                <data android:pathPattern=".*\\.3g2"/>
                <data android:pathPattern=".*\\.3gp"/>
                <data android:pathPattern=".*\\.3gp2"/>
                <data android:pathPattern=".*\\.3gpp"/>
                <data android:pathPattern=".*\\.amv"/>
                <data android:pathPattern=".*\\.asf"/>
                <data android:pathPattern=".*\\.avi"/>
                <data android:pathPattern=".*\\.divx"/>
                <data android:pathPattern=".*\\.drc"/>
                <data android:pathPattern=".*\\.dv"/>
                <data android:pathPattern=".*\\.f4v"/>
                <data android:pathPattern=".*\\.flv"/>
                <data android:pathPattern=".*\\.gvi"/>
                <data android:pathPattern=".*\\.gxf"/>
                <data android:pathPattern=".*\\.ismv"/>
                <data android:pathPattern=".*\\.iso"/>
                <data android:pathPattern=".*\\.m1v"/>
                <data android:pathPattern=".*\\.m2v"/>
                <data android:pathPattern=".*\\.m2t"/>
                <data android:pathPattern=".*\\.m2ts"/>
                <data android:pathPattern=".*\\.m3u8"/>
                <data android:pathPattern=".*\\.mkv"/>
                <data android:pathPattern=".*\\.mov"/>
                <data android:pathPattern=".*\\.mp2"/>
                <data android:pathPattern=".*\\.mp2v"/>
                <data android:pathPattern=".*\\.mp4"/>
                <data android:pathPattern=".*\\.mp4v"/>
                <data android:pathPattern=".*\\.m4v"/>
                <data android:pathPattern=".*\\.mpe"/>
                <data android:pathPattern=".*\\.mpeg"/>
                <data android:pathPattern=".*\\.mpeg1"/>
                <data android:pathPattern=".*\\.mpeg2"/>
                <data android:pathPattern=".*\\.mpeg4"/>
                <data android:pathPattern=".*\\.mpg"/>
                <data android:pathPattern=".*\\.mpv2"/>
                <data android:pathPattern=".*\\.mts"/>
                <data android:pathPattern=".*\\.mtv"/>
                <data android:pathPattern=".*\\.mxf"/>
                <data android:pathPattern=".*\\.mxg"/>
                <data android:pathPattern=".*\\.nsv"/>
                <data android:pathPattern=".*\\.nut"/>
                <data android:pathPattern=".*\\.nuv"/>
                <data android:pathPattern=".*\\.ogm"/>
                <data android:pathPattern=".*\\.ogv"/>
                <data android:pathPattern=".*\\.ogx"/>
                <data android:pathPattern=".*\\.ps"/>
                <data android:pathPattern=".*\\.rec"/>
                <data android:pathPattern=".*\\.rm"/>
                <data android:pathPattern=".*\\.rmvb"/>
                <data android:pathPattern=".*\\.tod"/>
                <data android:pathPattern=".*\\.ts"/>
                <data android:pathPattern=".*\\.tts"/>
                <data android:pathPattern=".*\\.vob"/>
                <data android:pathPattern=".*\\.vro"/>
                <data android:pathPattern=".*\\.webm"/>
                <data android:pathPattern=".*\\.wm"/>
                <data android:pathPattern=".*\\.wmv"/>
                <data android:pathPattern=".*\\.wtv"/>
                <data android:pathPattern=".*\\.xesc"/>
                <data android:pathPattern=".*\\.3G2"/>
                <data android:pathPattern=".*\\.3GP"/>
                <data android:pathPattern=".*\\.3GP2"/>
                <data android:pathPattern=".*\\.3GPP"/>
                <data android:pathPattern=".*\\.AMV"/>
                <data android:pathPattern=".*\\.ASF"/>
                <data android:pathPattern=".*\\.AVI"/>
                <data android:pathPattern=".*\\.DIVX"/>
                <data android:pathPattern=".*\\.DRC"/>
                <data android:pathPattern=".*\\.DV"/>
                <data android:pathPattern=".*\\.F4V"/>
                <data android:pathPattern=".*\\.FLV"/>
                <data android:pathPattern=".*\\.GVI"/>
                <data android:pathPattern=".*\\.GXF"/>
                <data android:pathPattern=".*\\.ISMV"/>
                <data android:pathPattern=".*\\.ISO"/>
                <data android:pathPattern=".*\\.M1V"/>
                <data android:pathPattern=".*\\.M2V"/>
                <data android:pathPattern=".*\\.M2T"/>
                <data android:pathPattern=".*\\.M2TS"/>
                <data android:pathPattern=".*\\.M3U8"/>
                <data android:pathPattern=".*\\.MKV"/>
                <data android:pathPattern=".*\\.MOV"/>
                <data android:pathPattern=".*\\.MP2"/>
                <data android:pathPattern=".*\\.MP2V"/>
                <data android:pathPattern=".*\\.MP4"/>
                <data android:pathPattern=".*\\.MP4V"/>
                <data android:pathPattern=".*\\.M4V"/>
                <data android:pathPattern=".*\\.MPE"/>
                <data android:pathPattern=".*\\.MPEG"/>
                <data android:pathPattern=".*\\.MPEG1"/>
                <data android:pathPattern=".*\\.MPEG2"/>
                <data android:pathPattern=".*\\.MPEG4"/>
                <data android:pathPattern=".*\\.MPG"/>
                <data android:pathPattern=".*\\.MPV2"/>
                <data android:pathPattern=".*\\.MTS"/>
                <data android:pathPattern=".*\\.MTV"/>
                <data android:pathPattern=".*\\.MXF"/>
                <data android:pathPattern=".*\\.MXG"/>
                <data android:pathPattern=".*\\.NSV"/>
                <data android:pathPattern=".*\\.NUT"/>
                <data android:pathPattern=".*\\.NUV"/>
                <data android:pathPattern=".*\\.OGM"/>
                <data android:pathPattern=".*\\.OGV"/>
                <data android:pathPattern=".*\\.OGX"/>
                <data android:pathPattern=".*\\.PS"/>
                <data android:pathPattern=".*\\.REC"/>
                <data android:pathPattern=".*\\.RM"/>
                <data android:pathPattern=".*\\.RMVB"/>
                <data android:pathPattern=".*\\.TOD"/>
                <data android:pathPattern=".*\\.TS"/>
                <data android:pathPattern=".*\\.TTS"/>
                <data android:pathPattern=".*\\.VOB"/>
                <data android:pathPattern=".*\\.VRO"/>
                <data android:pathPattern=".*\\.WEBM"/>
                <data android:pathPattern=".*\\.WM"/>
                <data android:pathPattern=".*\\.WMV"/>
                <data android:pathPattern=".*\\.WTV"/>
                <data android:pathPattern=".*\\.XESC"/>
                <!--  audio  -->
                <data android:pathPattern=".*\\.3ga"/>
                <data android:pathPattern=".*\\.a52"/>
                <data android:pathPattern=".*\\.aac"/>
                <data android:pathPattern=".*\\.ac3"/>
                <data android:pathPattern=".*\\.adt"/>
                <data android:pathPattern=".*\\.adts"/>
                <data android:pathPattern=".*\\.aif"/>
                <data android:pathPattern=".*\\.aifc"/>
                <data android:pathPattern=".*\\.aiff"/>
                <data android:pathPattern=".*\\.amr"/>
                <data android:pathPattern=".*\\.aob"/>
                <data android:pathPattern=".*\\.ape"/>
                <data android:pathPattern=".*\\.awb"/>
                <data android:pathPattern=".*\\.caf"/>
                <data android:pathPattern=".*\\.dts"/>
                <data android:pathPattern=".*\\.flac"/>
                <data android:pathPattern=".*\\.it"/>
                <data android:pathPattern=".*\\.m4a"/>
                <data android:pathPattern=".*\\.m4b"/>
                <data android:pathPattern=".*\\.m4p"/>
                <data android:pathPattern=".*\\.mid"/>
                <data android:pathPattern=".*\\.mka"/>
                <data android:pathPattern=".*\\.mlp"/>
                <data android:pathPattern=".*\\.mod"/>
                <data android:pathPattern=".*\\.mpa"/>
                <data android:pathPattern=".*\\.mp1"/>
                <data android:pathPattern=".*\\.mp2"/>
                <data android:pathPattern=".*\\.mp3"/>
                <data android:pathPattern=".*\\.mpc"/>
                <data android:pathPattern=".*\\.mpga"/>
                <data android:pathPattern=".*\\.oga"/>
                <data android:pathPattern=".*\\.ogg"/>
                <data android:pathPattern=".*\\.oma"/>
                <data android:pathPattern=".*\\.opus"/>
                <data android:pathPattern=".*\\.ra"/>
                <data android:pathPattern=".*\\.ram"/>
                <data android:pathPattern=".*\\.rmi"/>
                <data android:pathPattern=".*\\.s3m"/>
                <data android:pathPattern=".*\\.spx"/>
                <data android:pathPattern=".*\\.tta"/>
                <data android:pathPattern=".*\\.voc"/>
                <data android:pathPattern=".*\\.vqf"/>
                <data android:pathPattern=".*\\.w64"/>
                <data android:pathPattern=".*\\.wav"/>
                <data android:pathPattern=".*\\.wma"/>
                <data android:pathPattern=".*\\.wv"/>
                <data android:pathPattern=".*\\.xa"/>
                <data android:pathPattern=".*\\.xm"/>
                <data android:pathPattern=".*\\.3GA"/>
                <data android:pathPattern=".*\\.A52"/>
                <data android:pathPattern=".*\\.AAC"/>
                <data android:pathPattern=".*\\.AC3"/>
                <data android:pathPattern=".*\\.ADT"/>
                <data android:pathPattern=".*\\.ADTS"/>
                <data android:pathPattern=".*\\.AIF"/>
                <data android:pathPattern=".*\\.AIFC"/>
                <data android:pathPattern=".*\\.AIFF"/>
                <data android:pathPattern=".*\\.AMR"/>
                <data android:pathPattern=".*\\.AOB"/>
                <data android:pathPattern=".*\\.APE"/>
                <data android:pathPattern=".*\\.AWB"/>
                <data android:pathPattern=".*\\.CAF"/>
                <data android:pathPattern=".*\\.DTS"/>
                <data android:pathPattern=".*\\.FLAC"/>
                <data android:pathPattern=".*\\.IT"/>
                <data android:pathPattern=".*\\.M4A"/>
                <data android:pathPattern=".*\\.M4B"/>
                <data android:pathPattern=".*\\.M4P"/>
                <data android:pathPattern=".*\\.MID"/>
                <data android:pathPattern=".*\\.MKA"/>
                <data android:pathPattern=".*\\.MLP"/>
                <data android:pathPattern=".*\\.MOD"/>
                <data android:pathPattern=".*\\.MPA"/>
                <data android:pathPattern=".*\\.MP1"/>
                <data android:pathPattern=".*\\.MP2"/>
                <data android:pathPattern=".*\\.MP3"/>
                <data android:pathPattern=".*\\.MPC"/>
                <data android:pathPattern=".*\\.MPGA"/>
                <data android:pathPattern=".*\\.OGA"/>
                <data android:pathPattern=".*\\.OGG"/>
                <data android:pathPattern=".*\\.OMA"/>
                <data android:pathPattern=".*\\.OPUS"/>
                <data android:pathPattern=".*\\.RA"/>
                <data android:pathPattern=".*\\.RAM"/>
                <data android:pathPattern=".*\\.RMI"/>
                <data android:pathPattern=".*\\.S3M"/>
                <data android:pathPattern=".*\\.SPX"/>
                <data android:pathPattern=".*\\.TTA"/>
                <data android:pathPattern=".*\\.VOC"/>
                <data android:pathPattern=".*\\.VQF"/>
                <data android:pathPattern=".*\\.W64"/>
                <data android:pathPattern=".*\\.WAV"/>
                <data android:pathPattern=".*\\.WMA"/>
                <data android:pathPattern=".*\\.WV"/>
                <data android:pathPattern=".*\\.XA"/>
                <data android:pathPattern=".*\\.XM"/>
                <!--  playlist  -->
                <data android:pathPattern=".*\\.asx"/>
                <data android:pathPattern=".*\\.ASX"/>
                <data android:pathPattern=".*\\.m3u"/>
                <data android:pathPattern=".*\\.M3U"/>
                <data android:pathPattern=".*\\.pls"/>
                <data android:pathPattern=".*\\.PLS"/>
                <data android:pathPattern=".*\\.xspf"/>
                <data android:pathPattern=".*\\.XSPF"/>
            </intent-filter>
        </activity>

        <activity
            android:name="butter.droid.activities.BeamPlayerActivity"
            android:theme="@style/Theme.Butter.RemoteControl"
            android:screenOrientation="sensorPortrait" />

		<activity
			android:name="butter.droid.activities.TrailerPlayerActivity"
			android:screenOrientation="sensorLandscape" />

        <service android:name="butter.droid.base.torrent.TorrentService" />
        <service android:name="butter.droid.base.beaming.BeamPlayerNotificationService" />

        <receiver android:name="butter.droid.base.torrent.TorrentBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="pct.droid.base.torrent.TorrentBroadcastReceiver.STOP" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>

</manifest>
