<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="butter.droid.base">

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

	<application>

		<service android:name="butter.droid.base.torrent.TorrentService" />

	</application>

</manifest>
