<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="butter.droid.base">

	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application>

		<service android:name="butter.droid.base.torrent.TorrentService" />

		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths" />
		</provider>

	</application>

</manifest>
