*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.DS_Store
bin/jarlist.cache